DATABASE_URL=postgresql://record_qukp_user:zOdtU4RfC4C43dhN8wvfQ4VZOA77VoUm@dpg-d6perpsr85hc739jpllg-a/record_qukp
DIRECT_URL=postgresql://record_qukp_user:zOdtU4RfC4C43dhN8wvfQ4VZOA77VoUm@dpg-d6perpsr85hc739jpllg-a/record_qukp
DISABLE_EMAIL=true
FRONTEND_URL=https://school-module-rho.vercel.app
JWT_SECRET=your_very_secret_key_here_1234567890
NODE_ENV=production
PORT=5000
SMS_PROVIDER=fast2sms
# For Twilio:
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
# For Fast2SMS:
FAST2SMS_API_KEY=svSgGi2FGHCbdxkGSksWeeyS1RvrEkLTHgr0bEXjdhRUMk53tQNDSetGmpep
FAST2SMS_SENDER_ID=FSTSMS

# EMAIL PROVIDER (SMTP or Brevo API)
DISABLE_EMAIL=false
SMTP_HOST=smtp.gmail.com
SMTP_PASS="rmtq ecmw xjdm kybm"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=guptajeet2506@gmail.com